<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
	<div class="row">
		<div class="col">
			<a [routerLink]="['admin']">
				<div class="card admi" >
					<div class="top">
						<div class="wrapper"  >
							
							<h1 class="titulo">Rest-TEC</h1>
							<h3 class="seccion">seccion administrador </h3>
							
						</div>
					</div>
					
				</div>
			
			</a>
			
			
		</div>

		<div class="col">
            <a href="#">
			<div class="card chef">
				<div class="top">
					<div class="wrapper">
						
						<h1 class="titulo">Rest-TEC</h1>
						<h3 class="seccion">seccion Chef </h3>
						
					</div>
				</div>
			</div></a>
		</div>
	</div>
</div>
