<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/chcontent#">REst tec</a>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div (click)="togglePedidos()"><li class="nav-item">
          <a class="nav-link" aria-current="page" href="/chcontent#">Pedidos</a>
        </li></div>
        <div (click)="toggleMisPedidos()"><li class="nav-item">
          <a class="nav-link" href="/chcontent#">Mis Pedidos</a>
        </li></div>
        
      </ul>
    </div>
  </div>
</nav>


<ng-container *ngIf="showPedidos">
  <div class="container">
    <table class="table table-bordered">
      <thead><tr>
          <th>ID</th>        <th>Name</th>        <th>Email</th>        <th>Gender</th>     
        </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let Test of t2"> 
       <td>{{ Test.id }}</td>
        <td>{{ Test.body }}</td>
        <td>{{ Test.title }}</td>
        <td>{{ Test.userId }}</td>
      </tr>
    </tbody> 
    </table>
  </div>
  </ng-container>

  <ng-container *ngIf="showMisPedidos">
    <div class="container">
      <table class="table table-bordered">
        <thead><tr>
            <th>ID</th>        <th>pedidos</th>        <th>Email</th>        <th>Gender</th>     
          </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let Test of t2"> 
         <td>{{ Test.id }}</td>
          <td>{{ Test.body }}</td>
          <td>{{ Test.title }}</td>
          <td>{{ Test.userId }}</td>
        </tr>
      </tbody> 
      </table>
    </div>
    </ng-container>